.price {
    color: rgb(19, 5, 206);
}

main .map {
	width: 100%;
	height: 150px;
}

main .price {
    color: rgb(19, 5, 206);
}
main p {
    font-size: 14px;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

main h4 {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

main h5 {
    font-size: 20px;
    width: 100%;
    text-align: left;
    font-family: 'Exo 2', sans-serif;
}

main .line {
    font-size: 4px;
    margin-left: 2%;
    margin-right: 2%;

}

main video {
    width: 100%;
}

main .main-portfolio {
    background: rgba(255, 255, 255, 0.2);
    min-height: 100px;
    width: 100%;
    margin-top: -1%;
}

[class^="scroll"] {
    position: relative;
    height: 150px;
    line-height: 150px;
    padding-left: 20%;
    padding-right: 20%;
}

[class^="scroll"] input {
    display: none;
}

[class^="scroll"] div {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 0;
}

[class^="scroll"] img {
    position: relative;
    right: 0%;
    width: 100%;
    height: 100%;
    transition: .9s;
}

[class^="scroll"] label {
    cursor: pointer;
    font-size: 50px;
}

[class^="scroll"] input:nth-of-type(1):checked~label:nth-of-type(2):after,
[class^="scroll"] input:nth-of-type(2):checked~label:nth-of-type(3):after,
[class^="scroll"] input:nth-of-type(3):checked~label:nth-of-type(4):after,
[class^="scroll"] input:nth-of-type(4):checked~label:nth-of-type(5):after,
[class^="scroll"] input:nth-of-type(5):checked~label:nth-of-type(6):after,
[class^="scroll"] input:nth-of-type(6):checked~label:nth-of-type(7):after,
[class^="scroll"] input:nth-of-type(7):checked~label:nth-of-type(8):after {
    content: "\3009";
    position: absolute;
    right: 0;
}

[class^="scroll"] input:nth-of-type(2):checked~label:nth-of-type(1):after,
[class^="scroll"] input:nth-of-type(3):checked~label:nth-of-type(2):after,
[class^="scroll"] input:nth-of-type(4):checked~label:nth-of-type(3):after,
[class^="scroll"] input:nth-of-type(5):checked~label:nth-of-type(4):after,
[class^="scroll"] input:nth-of-type(6):checked~label:nth-of-type(5):after,
[class^="scroll"] input:nth-of-type(7):checked~label:nth-of-type(6):after,
[class^="scroll"] input:nth-of-type(8):checked~label:nth-of-type(7):after {
    content: "\3008";
    position: absolute;
    left: 0;
}

[class^="scroll"] input:nth-of-type(2):checked~div img {
    right: 100%;
}

[class^="scroll"] input:nth-of-type(3):checked~div img {
    right: 200%;
}

[class^="scroll"] input:nth-of-type(4):checked~div img {
    right: 300%;
}

[class^="scroll"] input:nth-of-type(5):checked~div img {
    right: 400%;
}

[class^="scroll"] input:nth-of-type(6):checked~div img {
    right: 500%;
}

[class^="scroll"] input:nth-of-type(7):checked~div img {
    right: 600%;
}
main div .container-best-tours {
    padding: 5px;
    margin: 5px auto;
}

main div .button-container-best-tours {
    display: flex;
    justify-content: space-around;
}

main div .button-container-best-tours form .button-best-tours {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    min-width: 100px;
}

@media (min-width: 400px) {
    .map {
    	width: 100%;
    	height: 180px;
    }
}

@media (min-width: 500px) {
    main .map {
    	width: 100%;
    	height: 200px;
    }
    main div.muve-main {
        display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		justify-content: stretch;
        align-items: stretch;
    }
}

@media (min-width: 600px) {
    [class^="scroll"] {
        height: 300px;
        line-height: 300px;
        padding-left: 10%;
        padding-right: 10%;
    }
    main .map {
    	width: 100%;
    	height: 250px;
    }
}

@media (min-width: 650px) {
    [class^="scroll"] {
        height: 450px;
        line-height: 450px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .map {
    	width: 100%;
    	height: 300px;
    }
}

@media (min-width: 750px) {
    [class^="scroll"] {
        height: 490px;
        line-height: 490px;
        padding-left: 10%;
        padding-right: 10%;
    }
    main .map {
    	width: 100%;
    	height: 350px;
    }
}

@media (min-width: 850px) {
    main {
        margin-top: 0%;
    }
    
    [class^="scroll"] {
        height: 520px;
        line-height: 520px;
        padding-left: 10%;
        padding-right: 10%;
    }
    main .map {
    	width: 100%;
    	height: 400px;
    }
}

@media (min-width: 950px) {
    main .map {
    	width: 100%;
    	height: 450px;
    }
}
